*.db
*.sqlite3
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
.vscode/
.idea/
.env
.DS_Store
Thumbs.db
node_modules/
convert_images.py
update_about_script.py
new_map_script.txt
store_response.html
new_images/

demo